<div class='end'>
	<div class='logo-lady'>
		<img src='assets/img/lady.png'>
	</div>
	<div class='end-stories'>
		<p>View more stories</p>
		<div class='end-stories-choices center-text'>
			<div class='btn' data-action='new-chapters'>
				Generate new chapters
			</div>
			<span>or</span>
			<div class='btn' data-action='database'>
				View full database
			</div>
		</div>
	</div>
	
	<div class='divider'></div>

	<div class='end-other'>
		<p>
			Check out the feature length film "Good Luck Soup," a companion to the interactive. Watch the trailer <a href='#'>here</a>. We are constantly looking to grow this collection of experiences and stories. <a href='http://goodlucksoup.com/contribute.html'>Contribute</a> your own.
		</p>
		<p>
			Share this experience via <a href='#' class='twitter'>Twitter</a> or <a href='#' class='facebook'>Facebook</a>.
		</p>
	</div>
</div>