<div class='end'>
	<div class='logo-lady'>
		<img src='assets/img/lady.png'>
	</div>
	<div class='end-stories'>
		<p>More stories</p>
		<div class='end-stories-choices center-text'>
			<div class='btn' data-action='newChapters'>
				Generate new chapters
			</div>
			<div class='btn' data-action='archive'>
				View full archive
			</div>
			<div class='btn' data-action='contribute'>
				Submit your own
			</div>
		</div>
	</div>

	<div class='end-other'>
		<p>
			Or check out the feature length film <span class='bold'>Good Luck Soup</span>, a companion to the interactive. Watch the trailer <a href='#'>here</a>.
		</p>
	</div>
</div>