<div class='story-title-card story-title-card-{{index}}'>
	<div class='story-title-card-bg'></div>
	<div class='overlay-pattern'></div>
	<div class='vertical-align'>
		<div class='story-title-card-text'>
			<div class='vertical-align'>
				<div class='story-title-card-overline'>Chapter {{index}}</div>
				<div class='story-title-card-hed'>{{hed}}</div>
			</div>
		</div>
	</div>
</div>