<div class='story-content story-content-{{index}}'>
	<div class='story-content-template'></div>
	<div class='story-navigation' data-chapter='{{index}}'>
		<div class='story-navigation-prev'>
			<div class='btn'>&larr; prev</div>
		</div>
		<div class='story-navigation-next'>
			<div class='btn'>next &rarr;</div>
		</div>
	</div>
</div>