<div class='story-title-card story-title-card-{{index}}'>
	<div class='story-title-card-bg'></div>
	<div class='overlay-pattern'></div>
	
	<div class='vertical-align'>
		<div class='story-navigation' data-chapter='{{index}}'>
			<div class='story-navigation-inner story-navigation-prev'>
				<div class='btn'>&laquo;</div>
			</div>
			<div class='story-title-card-text'>
				<div class='story-title-card-overline'>Part {{index}} of 7</div>
				<div class='story-title-card-hed'>{{hed}}</div>
			</div>
			<div class='story-navigation-inner story-navigation-next'>
				<div class='btn'>&raquo;</div>
			</div>
		</div>
	</div>

</div>