.bgVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -99;
}

#card-container {
	overflow: hidden;
}
.column {
	float: left;
}
.card {
	padding-top: $headerHeight;
	font-weight: 300;
	font-size: 1.1em;
	width: 100%;
	@extend %preserve;
}
.card-content {
	@extend %vertical-align;
	@extend %max-width;
	@extend %center-content;
	position: relative;
	span {
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		background: rgba(0,0,0,0.6);
		padding: 0.25em 0.5em;
	}
}
.fact {
	padding: 0 1em;
}
.archive, .story {
	height: 66%;
	background: #fff no-repeat center center;
	background-size: cover;
}

@media only screen and (max-width: 480px) {
	.archive, .story {
		height: 100%;
	}
}