.moderate-container, .contribute-container {
	max-width: $content-width-medium;
	margin: 0 auto;
	.hed {
		font-size: 3em;
		font-family: $sans-alt;
		font-weight: 400;
		text-transform: uppercase;
		margin: 1em 0.5em;
		a {
			color: $primary;
			text-decoration: none;
		}
	}
	.explainer-hed {
		font-family: $sans;
		text-align: center;
		@extend %title-case;
		// text-decoration: underline;
	}

 	p {
		font-size: 1.2em;
		margin: 1em 0;
		padding: 0;
	}

	h3 {
		font-family: $sans;
		@extend %title-case;
		font-size: 1.6em;
		margin: 2em 0 1em 0;
	}

	input, textarea { 
		border: 1px solid #ccc;
		font-size: 1.2em;
		padding: 1em;
		background: #fff;
		outline: none;
		resize: none;
		width: 100%;
	}

	textarea {
		margin-top: 0.5em;
		height: 15em;
	}

	.user-story {
		margin-bottom: 4em;
	}

	.user-story-form {
		margin-bottom: 4em;
	}

	.submit-container {
		text-align: center;
		margin: 1em 0;
	}

	.prompt {
		padding: 1em;
		border: 1px solid #ccc;
		cursor: pointer;
	}
	.hide {
		display: none;
	}

	#file-upload {
		display: none;
	}

	.image-result {
		color: #aaa;
  		font-style: italic;
	}

	.message {
		margin-top: 1em;
		text-align: center;
		color: $gray-dark;
		padding: 1em;
	}

	.success {
		color: #009900;
	}

	.error {
		color: #990000;
	}


	.moderate-btn-container {
		margin: 1em 0;
		text-align: center;
	}

	.submission {
		border-top: 1px solid #ccc;
		padding: 1em;	
		margin: 2em 0;
	}
	
	.submission h3 {
		margin: 0.5em 0;
	}

	.approve-btn-container {
		text-align: center;
		margin-top: 2em;
		.btn {
			float: left;
			margin-right: 1em;
		}
	}

	.sample {
		background: #efefef;
		margin: 2em 0;
		padding: 2em;
		font-size: 0.9em;
	}

	.sample-title {
		text-align: center;
		line-height: 1;
		margin: 0 0 1em 0;
		font-family: $sans;
		font-weight: bold;
		text-transform: uppercase;
	}

	.sample-caption {
		// text-align: right;
		color: #999;
		font-size: 0.9em;
	}

	.story-about-input {
		width: 450px;
		border: none;
		background: transparent;
		border-bottom: 1px solid #999;
		font-size: 1em;
		padding: 0;
		margin-left: 0.25em;
	}

	.user-story-idea {
		// text-align: right;
		margin-bottom: 1em;
	}

	section {
		margin: 3em 0;
	}

	.show-idea {
		font-size: 0.9em;
		color: #666;
		span {
			display: block;
			color: #999;
			font-size: 0.9em;
		}
	}

	.info-question {
		span {
			font-size: 0.85em;
			color: #999;
		}
	}

	.wordcount {
		margin: 0;
		font-size: 1em;
		margin-bottom: 1em;
		text-align: right;
		color: #990000;
		&.good {
			color: #009900;
		}
	}

	input.chapter {
		width: 100px;
	}
}