body {
	background: $white;
	font-family: $serif;
	font-size: 16px;
	line-height: 1.4;
	color: $black;
	
	&.show-header {
		margin-top: $header-height;
	}
	@include breakpoint-medium {
		font-size: 13px;
	}
}

p {
	margin: 0.5em 0;
	padding: 0.5em 1em;
	font-weight: 300;
	word-spacing: 0.05em;
}

h1,h2,h3,h4 {
	// font-family: $sans;
	font-weight: 800;
}
h1 {
	font-weight: 700;
	font-size: 2.4em;
}

h2 {
	font-weight: 700;
	font-size: 2em;	
}

a {

}

img {
	width: 100%;
}

.main-container {
}

.hide {
	display: none;
}

.opaque {
	opacity: 1;
}

.transparent {
	opacity: 0;
}

.bold {
	font-weight: 700;
}

.center-text {
	text-align: center;
}

.vertical-align {
	@extend %vertical-align;
}

.bottom-align {
	@extend %bottom-align;
}

.btn {
	background-color: $primary;
	color: shade($primary, 50%);
	padding: 0.5em 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	font-family: $sans;
	@include transition-property(background-color, opacity);
	@include transition-duration($transition-fast);
	@include transition-timing-function(ease-in);
	&:hover {
		background-color: shade($primary, 10%);
	}
}


.fullscreen, .fullscreen-peek, .fullscreen-jumbo {
	position: relative;
	overflow: hidden;
}

.divider {
	width: 10em;
	margin: 1em auto;
	height: 1px;
	background: $gray-lightest;
}

.bg-cover {
	@extend %bg-cover;
}

.logo-lady {
	position: absolute;
	width: 100%;
	text-align: center;
	opacity: 0;
	@include transition-property(opacity);
	@include transition-duration($transition-fast);
	@include transition-timing-function(ease-in);
	img {
		padding: 0.5em;
		height: 100px;
		width: auto;
		opacity: 0.6;
	}
}

.italic {
	font-style: italic;
}

.overlay-pattern {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4AgMAAADV6NONAAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAGgBKWz4FAAAAHUlEQVR4AWNgXYoMGJaicqNQABoXonhU76jeUb0AdDuF6JpF+RYAAAAASUVORK5CYII=);
}