body {
	background: $white;
	font-family: $mono;
	// font-family: $sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: $black;
}

p {
	padding: 0.5em;
	font-variant: small-caps;
}

h1 {
	font-weight: bold;
	font-size: 2.4em;
}

h2 {
	font-weight: bold;
	font-size: 2em;	
}

a {

}

img {
	width: 100%;
}

.main-container {
}

.hide {
	display: none;
}

.center-text {
	text-align: center;
}

.v-align {
	@extend %vertical-align;
}

.btn {
	border: 1px solid $gray-darkest;
	color: $gray-darkest; 
	background: $white;
	padding: 0.5em 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: inline-block;
	cursor: pointer;
	&:hover {
		background: #efefef;
	}
}

.btn-alt {
	border-color: $white;
	color: $white;
	background: rgba(255,255,255,0.2);
	&:hover {
		background: rgba(255,255,255,0.5);
	}
}