body {
	background: $white;
	font-family: $sans;
	font-size: 16px;
	line-height: 1.4;
	color: $black;
	&.show-header {
		margin-top: $header-height;
	}
}

p {
	margin: 0.5em 0;
}

h1 {
	font-weight: bold;
	font-size: 2.4em;
}

h2 {
	font-weight: bold;
	font-size: 2em;	
}

a {

}

img {
	width: 100%;
}

.main-container {
}

.hide {
	display: none;
}

.opaque {
	opacity: 1;
}

.transparent {
	opacity: 0;
}

.bold {
	font-weight: 700;
}

.center-text {
	text-align: center;
}

.vertical-align {
	@extend %vertical-align;
}

.bottom-align {
	@extend %bottom-align;
}

.btn {
	border: 1px solid $gray-darkest;
	color: $gray-darkest; 
	background: $white;
	padding: 0.5em 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: inline-block;
	cursor: pointer;
	&:hover {
		background: #efefef;
	}
}

.btn-alt {
	border-color: $white;
	color: $white;
	background: rgba(255,255,255,0.2);
	&:hover {
		background: rgba(255,255,255,0.5);
	}
}

.fullscreen {
	position: relative;
	overflow: hidden;
}

.divider {
	width: 10em;
	margin: 1em auto;
	height: 1px;
	background: $gray-lightest;
}

.bg-cover {
	@extend %bg-cover;
}