.intro {
	height: 480px;
	width: 100%;
	position: relative;
	@extend %preserve-3d;
	p {
		text-align: left;
		font-size: 1.5em;
		@extend %center;
		max-width: $content-width-medium;
		@include breakpoint($bp-small) {
			font-size: 1.3em;
		}
	}
}

.intro .logo-lady {
	opacity: 1;
}

.video-bg {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

.hed {
	text-align: center;
}

.hed-text {
	line-height: 0.9;
	font-size: 8em;
	font-family: $mono;
	font-weight: 700;
	color: $white;
	margin-bottom: 0.5em;
	opacity: 0.9;
	@include breakpoint($bp-small) {
		font-size: 5em;
	}
}

.overlay-pattern {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4AgMAAADV6NONAAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAGgBKWz4FAAAAHUlEQVR4AWNgXYoMGJaicqNQABoXonhU76jeUb0AdDuF6JpF+RYAAAAASUVORK5CYII=);
}

.begin {
	text-align: center;
}

.responsive-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-text-outer {	
	// position: absolute;
	// bottom: 2em;
	@extend %vertical-align;
	width: 100%;
}

.video-text-inner {
	padding: 1em;
	color: #fff;
	text-shadow: 0 0 5px #000;
	font-size: 1.8em;
	text-align: justify;
	margin: 0 auto;
	max-width: $content-width-x-large;
	@include breakpoint($bp-small) {
		font-size: 1.3em;
	}
}

p.saying {
	text-align:center;
	font-size: 2em;
	@extend %title-case;
	border-bottom: $gray-lightest;
	padding: 0;
}