%vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

%bottom-align {
	position: absolute;
	width: 100%;
	bottom: 2em;
}

%center {
	margin-left: auto;
	margin-right: auto;
}

%title-case {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

%preserve-3d {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;	
}

%bg-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

%expand {
	@include transition-property(height, top);
	@include transition-duration($transition-fast);
	@include transition-timing-function(ease-in);
}