.story-content {
	width: 65%;
	height: 100%;
	float: left;
	padding: 4em 2em;
	overflow-y: auto;
}

.story-content-hed {
	@extend %title-case;
	font-weight: normal;
	border-bottom: 1px solid $gray-lightest;
	margin-bottom: 1em;
	text-align: center;
}

.story-content-text {
	max-width: 640px;
	margin: 0 auto;
}