// STORY OVERALL
.stories-container {
	@include breakpoint-small {
		font-size: 0.9em;
	}
}

.stories {
	position: relative;
	top: 0;
	left: 0;
}

.story {
	position: relative;
	width: 100%;
	display: none;
	background: $white;
	&.current {
		display: block;
	}
	&.next {
		display: block;
		.story-bottom {
			display: none;
		}
		.story-top-bg {
			opacity: 0.7;
			@include transition-property(all);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
		}
		.story-top {
			height: 210px;
			&:hover {
				.story-top-bg {
					@include transform(scale(1.02));
				}
			}
		}
	}
}

.story-navigation-inner .btn {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 1.4em;
	letter-spacing: 0;
	padding: 0;
}

.story-top-text {
	position: relative;
	text-align: center;
	width: 100%;
	color: $white;
	font-family: $sans;
	font-size: 2em;
	@extend %vertical-align;
	@include transition-property(all);
	@include transition-duration(0.6s);
	@include transition-timing-function(ease-in);
	top: 55%;
	&.off {
		opacity: 0;
		top: -25%;
	}
}

.story-top-prev {
	position: absolute;
	width: 100%;
	text-align: center;
	opacity: 1;
	@include transition-property(all);
	@include transition-duration(0.25s);
	@include transition-timing-function(ease-in);
	.btn {
		opacity: 0.7;
		border-radius: 3em;
		margin-top: 0.75em;
		letter-spacing: 0;
		&:hover {
			opacity: 1;
		}
	}
	&.off {
		opacity: 0;
	}
}

.story-top-next {
	position: relative;
	text-align: center;
	width: 100%;
	text-shadow: 0 0 2px $black; 
	@extend %vertical-align;
	font-style: italic;
	letter-spacing: 0.1em;
	line-height: 1;
	font-family: $serif;
	color: $primary;
	font-size: 1.2em;
	@include transition-property(all);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-in);
	&.off {
		display: none;
		opacity: 0;
		top: 100%;
	}
}

.story-top-overline {
	font-style: italic;
	letter-spacing: 0.1em;
	font-size: 0.5em;
	font-family: $serif;
	color: $primary;
}

.story-top-hed {
	line-height: 1;
	letter-spacing: 0.05em;
	font-size: 0.75em;
	text-transform: capitalize;
	font-family: $serif;
	color: $white;
}

.story-top {
	position: relative;
	background-color: $black;
	cursor: pointer;
	overflow: hidden;
	height: 140px;
	@include transition-property(height);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-in);
}

.story-top-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	@extend %bg-cover;
	opacity: 0.2;
	@include transition-property(opacity);
	@include transition-duration(0.6s);
	@include transition-timing-function(ease-in);
}

.story-top-bg-1{
	background-image: url(#{$filepath}/img/story-top/story-top-1.jpg);
}
.story-top-bg-2{
	background-image: url(#{$filepath}/img/story-top/story-top-2.jpg);
}
.story-top-bg-3{
	background-image: url(#{$filepath}/img/story-top/story-top-3.jpg);
}
.story-top-bg-4{
	background-image: url(#{$filepath}/img/story-top/story-top-4.jpg);
}
.story-top-bg-5{
	background-image: url(#{$filepath}/img/story-top/story-top-5.jpg);
}
.story-top-bg-6{
	background-image: url(#{$filepath}/img/story-top/story-top-6.jpg);
}
.story-top-bg-7{
	background-image: url(#{$filepath}/img/story-top/story-top-7.jpg);
}

.story-content-template {
	padding: 2em 0.5em 8em 0.5em;
}

.story-content-hed {
	font-size: 2.2em;
	font-weight: normal;
	line-height: 1.4;
	text-align: center;
	color: $gray-darkest;
	margin: 0.35em auto 0 auto;
	max-width: $content-width-large;
	@include breakpoint-small {
		font-size: 2em;
	}
}

.story-content-text {
	max-width: $content-width-medium;
	margin: 0 auto;
	font-size: 1.25em;
	line-height: 1.5;
}

.story-content-img-outer {
	// height: 100%;
	// overflow: hidden;
	text-align: center;
	margin: 1em auto;
	margin-bottom: 2em;
	@include breakpoint-small {
		margin-bottom: 4em;
	}
}

.story-content-img-inner {
	display: inline-block;
	position: relative;
	img.main-img {
		border: 1px solid #eee;
		display: block;
	}
}

.story-content-img-caption {
	display: block;
	text-align: left;
	color: #999;
	font-size: 0.9em;
	padding: 0.5em 0;
	margin-top: 1em;
	border-top: 1px solid $gray-lightest;
}

.story-content-video-container {
	max-width: 960px;
  	margin: 2em auto;
  	position: relative;
}

.story-content-video-player {
	position: absolute;
	width: 100%;
	padding: 1em 4em 1em 1em;
	top: 0;
	left: 0;
	text-align: left;

	.video-player-btn {
		position: relative;
		left: 0;
		opacity: 0.7;
		border-radius: 3em;
		letter-spacing: 0;
		width: 3em;
		height: 3em;
		@include transition-property(left);
		@include transition-duration(250);
		@include transition-timing-function(linear);
		&:hover {
			opacity: 1;
		}
	}
	.video-player-btn img {
		height: 60%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

.story-content-audio {
	position: absolute;
	width: 100%;
	padding: 1em 4em 1em 1em;
	top: 0;
	left: 0;
	text-align: left;
	.audio-player {
		position: relative;
	}
	.audio-player-progress {
		width: 0;
		height: 2px;
		background-color: $primary;
		position: absolute;
		top: 50%;
		margin-top: -1px;
		opacity: 0.3;
	}
	.audio-player-btn {
		position: relative;
		left: 0;
		opacity: 0.7;
		border-radius: 3em;
		letter-spacing: 0;
		width: 3em;
		height: 3em;
		@include transition-property(left);
		@include transition-duration(250);
		@include transition-timing-function(linear);
		&:hover {
			opacity: 1;
		}
	}
	.audio-player-btn img {
		height: 60%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

.story-content-user {
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
	font-style: italic;
	color: $gray-light;
	border-bottom: 1px dashed shade($white, 15%);
	.user-date {
		color: $gray-light;
	}
	.user-divider {
		font-style: normal;
	}
}

.end {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-bottom: 4em;

	.logo-lady {
		position: static;
		opacity: 1;
		img {
			opacity: 0.4;
		}
	}

	.end-stories {
		margin: 5em 0;
		p {
			text-align: center;
			font-size: 1.6em;
			border-bottom: $gray-lightest;
			padding: 0;		
		}
		
		.btn {
			display: block;
			max-width: 300px;
			margin: 0.5em auto;
		}
	}

	.end-other {
		max-width: $content-width-medium;
		font-size: 1.3em;
		margin: 0 auto;
	}

	.end-other-buttons {
		height: 100%;
		overflow: hidden;
		margin-bottom: 1em;
	}

	.end-credits {
		margin-top: 2em;
	}

	.half {
		width: 50%;
		float: left;
	}
	.divider {
		margin: 2em auto 1em auto;
	}
}