.story-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-transition: all 0.5s;
}

.story-container-chapters {
	height: 100%;
	width: 100%;
	position: relative;
	left: 0;
}

.story-logo {
	font-family: $mono;
	font-weight: 700;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.25em;
	line-height: 1;
	font-size: 1.5em;
	text-shadow: 0 0 1px $black;
	color: $white;
	opacity: 0.9;
}

.story-chapter {
	height: 100%;
	float:left;
	width: $one_seventh;
	// position: relative;
	&.current {
		width: 100%;
		.story-title-card {
			width: 35%;
		}
		.story-title-card-text {
			opacity: 0.75;
		}
		.story-title-card-bg {
			opacity: 0.35;
		}
	}
	&.highlight {
		.story-title-card {
			cursor: pointer;	
		}
		.story-title-card-bg {
			opacity: 1;
		}
		.story-title-card-text {
			opacity: 1;
		}
	}
}