.story-content {
	width: 65%;
	height: 100%;
	float: left;
	padding: 4em 2em;
	overflow-y: auto;
}

.story-content-hed {
	@extend %title-case;
	color: $gray-darkest;
	border-bottom: 1px solid $white-dark;
	margin-bottom: 1em;
	text-align: center;
}

.story-content-text {
	max-width: 640px;
	margin: 0 auto;
}

.story-content-img {
	padding: 1em 0;
	max-width: 640px;
	margin: 0 auto;
	img {
		border: 1px solid $gray-lightest;
	}
}

.story-content-user {
	max-width: 640px;
	margin: 0 auto;
	text-align: right;
	font-style: italic;
}

.story-navigation {
	margin-top: 4em;
	width: 100%;
}
.story-navigation-next {
	cursor: pointer;
	float: right;
}
.story-navigation-prev {
	cursor: pointer;
	float: left;
}