.story-bottom {
	position: absolute;	
	left: 0;
	width: 100%;
	@extend %expand;
	overflow-x: hidden;
}

.story-chapters {
	position: relative;
	top: 0;
	left: 0;	
}

.story-chapter {
	position: relative;
	float:left;
	width: $one_seventh;
	&.current {
	}
}

.story-content {
	width: 100%;
	padding: 2em;
}

.story-content-hed {
	@extend %title-case;
	font-family: $sans;
	font-size: 3em;
	font-weight: 800;
	line-height: 1.4;
	text-align: center;
	color: $gray-darkest;
	margin-bottom: 0.5em;
	span {
		border-bottom: 1px solid $gray-lightest;
	}
}

.story-content-text {
	max-width: 640px;
	margin: 0 auto;
	font-size: 1.25em;
	line-height: 1.5;
}

.story-content-img {
	padding: 1em 0;
	max-width: $content-width-x-large;
	margin: 0 auto;
	img {
		border: 1px solid $gray-lightest;
	}
}

.story-content-video {
	text-align: center;
}

.story-content-audio {
	text-align: center;
	audio {
		width: 100%;
	}
}

.story-content-user {
	max-width: 640px;
	margin: 0 auto 1em auto;
	text-align: center;
	font-style: italic;
	color: $gray-light;
	.user-date {
		color: $gray-light;
	}
	.user-divider {
		font-style: normal;
		color: $gray-darkest;
	}
}