$serif: 'Merriweather', Georgia, 'Times New Roman', serif;
$sansSerif: 'Lato', Helvetica, sans-serif;

$white: #fff;
$grayLightest: #ccc;
$grayLight: #999;
$grayDark: #666;
$grayDarkest: #333;

$headerHeight: 42px;

$maxWidth: 640px;