$mono: 'Inconsolata', Monospace;
$sans-serif: 'Source Sans Pro', Helvetica, sans-serif;

$white: #fff;
$gray-lightest: #ccc;
$gray-light: #999;
$gray-dark: #666;
$gray-darkest: #333;
$black: #1a1a1a;

$header-height: 42px;

$content-width-small: 480px;
$content-width-medium: 640px;
$content-width-large: 800px;