// $sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$mono: 'Source Code Pro', Helvetica, Arial, sans-serif;

$sans: 'Open Sans', Helvetica, Arial, sans-serif;
$serif: 'Vollkorn', 'Times New Roman', serif;

// $white: #fff;
$white: #fffbf0;
$white-dark: #efefef;
$gray-lightest: #ccc;
$gray-light: #999;
$gray-dark: #666;
$gray-darkest: #333;
$black: #1a1a1a;

$yellow: #ffcc22;

$primary: $yellow;

$header-height: 42px;

$content-width-small: 480px;
$content-width-medium: 640px;
$content-width-large: 800px;
$content-width-x-large: 900px;

$one-seventh: percentage(1/7);

$small-nav-height: 5em;
$transition-fast: 0.2s;

$bp-small: 480px;
$bp-medium: 760px;
$bp-large: 1024px;