vertical-align =
	position relative
	top 50%
	transform translateY(-50%)


bottom-align =
	position absolute
	width 100%
	bottom 2em


center-content =
	margin-left auto
	margin-right auto

title-case =
	text-transform uppercase
	letter-spacing 0.05em

bg-cover =
	background-repeat no-repeat
	background-position center center
	background-size cover


expand =
	transition-property height, top
	transition-duration $transition-fast
	transition-timing-function ease-in

// @mixin breakpoint-small
//   @media (max-width #{$bp-small
//     @content;

// @mixin breakpoint-medium
//   @media (max-width #{$bp-medium
//     @content;

// @mixin breakpoint-large
//   @media (max-width #{$bp-large
//     @content;
