.moderate-container, .contribute-container, .about-container, .archive-container 
	max-width $content-width-medium
	margin-left auto
	margin-right auto
	padding 0 0.5em
	.hed 
		font-size 3em
		font-family $sans-alt
		font-weight 400
		text-transform uppercase
		padding-top 1em
		a 
			color $primary
			text-decoration none
		
	
	.explainer-hed 
		font-family $sans
		text-align center
		{title-case}
		padding-top 1em
		// text-decoration underline
	

 	p 
		font-size 1.2em
		margin 1em 0
		padding 0
	

	h3 
		font-family $sans
		{title-case}
		font-size 1.6em
		margin 2em 0 1em 0
	

	input, textarea  
		border 1px solid #ccc
		font-size 1em
		padding 0.5em
		background #fff
		outline none
		resize none
		width 100%
	

	textarea 
		margin-top 0.5em
		height 15em
	

	.user-story 
		margin-bottom 4em
	

	.user-story-form 
		margin-bottom 4em
	

	.submit-container 
		text-align center
		margin 1em 0
	

	.prompt 
		padding 1em
		border 1px solid #ccc
		cursor pointer
	
	.hide 
		display none
	

	#file-upload 
		display none
	

	.image-result 
		color #aaa
  		font-style italic
	

	.message 
		margin-top 1em
		text-align center
		color $gray-dark
		padding 1em
	

	.success 
		color #009900
	

	.error 
		color #990000
	


	.moderate-btn-container 
		margin 1em 0
		text-align center
	

	.submission 
		border-top 1px solid #ccc
		padding 1em	
		margin 2em 0
	
	
	.submission h3 
		margin 0.5em 0
	

	.approve-btn-container 
		text-align center
		margin-top 2em
		.btn 
			float left
			margin-right 1em
		
	

	.sample 
		background #efefef
		margin 2em 0
		padding 2em
		font-size 0.9em
	

	.sample-title 
		text-align center
		line-height 1
		margin 0 0 1em 0
		font-family $sans
		font-weight bold
		text-transform uppercase
	

	.sample-caption 
		// text-align right
		color #999
		font-size 0.9em
	

	.story-about-input 
		font-size 0.8em
		width 63%
		// border none
		// background transparent
		// border-bottom 1px solid #999
		// font-size 1em
		// padding 0
		// margin-left 0.5em
		@media screen and (max-width: breakpoint-medium)
			width 80%
		
	

	.user-story-idea 
		// text-align right
		margin-bottom 1em
	

	section 
		margin 3em 0
	

	.show-idea 
		color #333
		background #efefef
		padding 0.5em
		span 
			margin 0.5em 0
			font-size 0.8em
			display block
			color #777
			font-size 0.9em
		
	

	.info-question 
		span 
			font-size 0.85em
			color #999
		
	

	.wordcount 
		margin 0
		font-size 1em
		margin-bottom 1em
		text-align right
		color #990000
		&.good 
			color #009900
		
	

	i
	.chapter 
		width 100px
	

	ul.credits 
		margin-bottom 4em
		li 
			margin 0.5em 0
			font-size 1.2em
			span 
				font-weight bold
			
		
	

	p.small 
		color #666
		font-size 1em
		font-style italic
	


.archive-container 
	max-width 720px
	margin-bottom 2em
	// archive
	.chapters ul 
		height 100%
		overflow hidden
	
	.chapters li, .chapters a 
		display block
		position relative
	

	h3 
		@media screen and (max-width: breakpoint-medium)
			font-size 1.3em
			margin 0.5em 0
			margin-top 1.5em
		
	
	.chapters li 
		width 33.33%
		float left
		margin 0.25em 0
		padding 0 0.5em
		@media screen and (max-width: breakpoint-small)
			width 100%
			padding 0
		
		a 
			text-decoration none
			color $black
		
		&last-child 
			// padding-right 0
		
		p 
			margin 0.5em 0
			text-align center
		
		// span 
		// 	position absolute
		// 	bottom 0
		// 	left 0
		// 	display inline-block
		// 	color $white
		// 	text-shadow 0 0 3px $black
		// 	font-size 1.2em
		// 	// text-align center
		// 	width 100%
		// 	line-height 1.2
		// 	padding 0.25em 0.5em
		// 

		img 
			display block
			border 1px solid #ccc
		
	

	.chapters a.btn 
		display inline-block
	

	.archive-back 
		text-align center
	

	.archive-see-more 
		text-align center
	

	#search 
		.inputs 
			height 100%
			overflow hidden
			margin-bottom 1em
		

		.inputs > * 
			float left
		

		input  
			width 45%
		

		.or 
			display inline-block
			width 10%
			text-align center
			padding 0.5em 0
		
	

